<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/celula-list">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Célula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img
      [src]="
        (celula?.imagem ?? '') !== ''
          ? '../../../assets/celulas-imgs/' + (celula?.imagem ?? '')
          : 'https://ionicframework.com/docs/img/demos/card-media.png'
      "
    ></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ celula?.lider?.nome }}</ion-card-subtitle>
      <ion-card-title>{{ celula?.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-col>
          <ion-row>
            {{ celula?.descricao }}
          </ion-row>

          <br />

          <ion-col class="ion-padding">
            <ion-row>
              <ion-thumbnail>
                <img src="../../../assets/images/local_logo.png" />
              </ion-thumbnail>
              <ion-col>
                <h2>{{ celula?.endereco?.nome }}</h2>
                <h2>Bairro: {{ celula?.endereco?.bairro }}</h2>
                <h2>Nº: {{ celula?.endereco?.numero }}</h2>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
