<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="../../../assets/images/zion_logo.png"></ion-img>
    <ion-card-header>
      <ion-card-title
        ><a
          target="_blank"
          rel="noopener"
          href="https://www.instagram.com/equipe.zion/"
          class="link_custom"
          >EQUIPE ZION</a
        >
      </ion-card-title>
    </ion-card-header>

    <ion-card-content> </ion-card-content>
  </ion-card>
</ion-content>
