<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/lider-list">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Líder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img
      [src]="
        (celula?.lider?.image ?? '') !== ''
          ? '../../../assets/liaders-imgs/' + (celula?.lider?.image ?? '')
          : 'https://ionicframework.com/docs/img/demos/avatar.svg'
      "
    ></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ celula?.lider?.idade }} anos</ion-card-subtitle>
      <ion-card-title
        ><a
          target="_blank"
          rel="noopener"
          [href]="celula?.lider?.instagram"
          class="link_custom"
          >{{ celula?.lider?.nome }}</a
        ></ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <h2>{{ celula?.lider?.descricao }}</h2>
      <h2>{{ celula?.lider?.ocupacao }}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
