<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/folder/outbox">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Células</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <div *ngFor="let celula of celulas">
      <ion-item (click)="toCelula(celula.id)">
        <ion-avatar slot="start">
          <img
            [src]="
              (celula?.lider?.image ?? '') !== ''
                ? '../../../assets/liaders-imgs/' + (celula?.lider?.image ?? '')
                : 'https://ionicframework.com/docs/img/demos/avatar.svg'
            "
          />
        </ion-avatar>

        <ion-label>{{ celula.nome }}</ion-label>
      </ion-item>
      <br />
      <br />
    </div>
  </ion-list>
</ion-content>
